@model PagedList.IPagedList<CsharpTestTask.Models.ContactPerson>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "getContactPersons";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>getContactPersons</h2>

<p>
    @Html.ActionLink("Create New", "RegisterContactPerson")
</p>
<table class="table table-striped">
    <tr>
       <th>
            Surname of contact person
        </th>
        <th>
           Name of contact person
        </th>
        <th>
           Patronymic of contact person
        </th>
        <th>
            Work phone of contact person
        </th>
        <th>
            Mobile phone of contact person
        </th>
        <th>
           Email of contact person
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit contact person", "EditContactPerson", new { id=item.Id }) |
            @Html.ActionLink("Display clients", "Details", new { cl_id=item.Id }) |
        </td>
    </tr>
}

</table>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
 
@Html.PagedListPager(Model, page => Url.Action("getContactPersons",  new { page }))

