<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
         @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap.min.css")
        @Scripts.Render("~/bundles/modernizr")
         @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
      

         <div id="body-block-content" style="margin:20px;">
     <div class="row">
         <div id="block-content" class="col-sm-12">
              @RenderBody()
             
         </div>
     </div>
 </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

       
        @RenderSection("scripts", required: false)
    </body>
</html>
