@model CsharpTestTask.Models.Сlient

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     @Html.AntiForgeryToken()
    <fieldset>
        <legend>Сlient</legend>

        @if ( ViewBag.Message != null )
        {
           <div style="font: 15px bold; color:green;">
               @ViewBag.Message
           </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdressWebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdressWebSite)
            @Html.ValidationMessageFor(model => model.AdressWebSite)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.ContactFaceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactFaceId)
            @Html.ValidationMessageFor(model => model.ContactFaceId)
        </div>

        <div class="editor-label" style="margin-bottom:10px;">
            @Html.LabelFor(model => model.DealState)
        </div>

        @{var listItems = new List<System.Web.UI.WebControls.ListItem>
    {
          new System.Web.UI.WebControls.ListItem { Text = "First Contact", Value= "First Contact" },
          new System.Web.UI.WebControls.ListItem { Text = "Conversation", Value="Conversation" },
          new System.Web.UI.WebControls.ListItem { Text = "HarmonizationOfContract", Value="HarmonizationOfContract" },
          new System.Web.UI.WebControls.ListItem { Text = "Cooperation", Value="Cooperation" }
    };
    }
        @Html.DropDownList("Exemplo",new SelectList(listItems,"Value","Text"))

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
